## Pandas data analysis

In [2]:
# Import pandas and use pd as a shorthand
import pandas as pd

In [17]:
# Series are 1-dimensional arrays of data
brands = pd.Series(["BMW", "Honda", "Toyota"])
colors = pd.Series(["Blue", "Red", "Black"])
print(brands)

0       BMW
1     Honda
2    Toyota
dtype: object
 0     Blue
1      Red
2    Black
dtype: object

In [19]:
# Dataframes are the most commonly used and are 2-dimensional data structure
dataframe = pd.DataFrame({"Brand": brands, "Color": colors})
dataframe

    Brand  Color
0     BMW   Blue
1   Honda    Red
2  Toyota  Black

In [20]:
# You can import data from a csv file (Comma separated file)
data = pd.read_csv("resources/car-sales.csv")
# Head show the first 5 entries
data.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00